version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    groups:
      actions:
        patterns:
          - '@actions/*'
      lint:
        patterns:
          - '*eslint*'
          - '*prettier*'
      rollup:
        patterns:
          - '*rollup*'
      typescript:
        patterns:
          - 'typescript'
          - '@types/*'
          - 'ts-*'
          - '*-typescript*'
